<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <springProperty scope="context" name="accessLogPattern" source="logback-access.pattern" defaultValue="common"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${accessLogPattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender-ref ref="CONSOLE" />
</configuration>